<app-navigation>
  <ng-container ngProjectAs="sidebar">
    <mat-nav-list>
      <a mat-list-item
       href="">test 1</a>

       <a mat-list-item
       href="">test 2</a>

       <a mat-list-item
       href="">test 3</a>
    </mat-nav-list>
  </ng-container>

  <ng-container ngProjectAs="toolbar">
    <span (click)="(0)"> {{title.toLocaleUpperCase()}}</span>
    <app-clock></app-clock>
    <button mat-flat-button (click)="login()">Zaloguj</button>
  </ng-container>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</app-navigation>