<!-- <ng-container *ngIf="playlist; else noPlaylistTpl"> -->

@if (playlist) {
  <div
    class="grid gap-3"
    id="playlist_{{ playlist.id }}"
    [title]="playlist.name"
    [attr.data-playlist-id]="playlist.id"
  >
    <div class="grid gap-1">
      <div class="font-bold">Name</div>
      <div>{{ playlist.name }}</div>
    </div>

    <div class="grid gap-1">
      <div class="font-bold">Public</div>

      <div
        class="placki"
        [ngClass]="{
          isPublic: playlist.public,
          isPrivate: playlist.public === false,
        }"
      >
        {{ playlist.public ? "Yes" : "No" }}
      </div>
    </div>

    <div class="grid gap-1">
      <div class="font-bold">Description</div>
      <div>{{ playlist.description }}</div>
    </div>

    <div class="flex justify-start">
      <button mat-flat-button color="primary" (click)="onEdit()">Edit</button>
    </div>
  </div>
} @else {
  <p class="p-5 bg-blue-800">No playlist selected</p>
}

<!-- </ng-container> -->

<!-- <ng-template #noPlaylistTpl>
  <p class="p-5 bg-blue-800">No playlist selected</p>
</ng-template> -->
