/* You can add global styles to this file, and also import other style files */
body {
    background-color: #515151;
    font-family: Arial, sans-serif;
    color: #f5f5f5;
}

button {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1ed760;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #f5f5f5;
}

.container {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    button {
        padding: 8px 12px;
    }

    input, textarea {
        font-size: 14px;
    }
}