
<form #formRef="ngForm" (ngSubmit)="onSave()" *ngIf="playlist">
  <pre>{{formRef.value | json }}</pre>
  
  <div class="grid gap-5">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <!-- [errorStateMatcher]="instancja" -->
      <input
        matInput
        type="text"
        #nameModelRef="ngModel"
        [ngModel]="playlist.name"
        name="name"
        required
        minlength="3"
        [appCensor]="'batman'"
      />
      <mat-error class="text-red-400">
        @if (nameModelRef.hasError("required")) {
          Field is required
        }

        @if (nameModelRef.getError("minlength"); as error) {
          Minumum length is {{ error.requiredLength }}
        }

        @if (nameModelRef.getError("censor"); as error) {
          Cant include "{{ error.badword }}"
        }
      </mat-error>
      <mat-hint align="end">{{ nameModelRef.value?.length }} / 100</mat-hint>
    </mat-form-field>

    <div class="grid gap-2">
      <mat-checkbox [(ngModel)]="playlist.public" name="public"
        >Public</mat-checkbox
      >
    </div>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        [(ngModel)]="playlist.description"
        appCensor="banana"
        matInput
        #descriptionRef="ngModel"
        name="description"
      ></textarea>
      <mat-error class="text-red-400">
        @if (descriptionRef.getError("censor"); as error) {
          Cant include "{{ error.badword }}"
        }
      </mat-error>
    </mat-form-field>

    <div class="grid gap-2">
      <label class="font-bold">Description</label>
      <!-- Error: NG01203: No value accessor for form control name: 'description'. Find more at https://angular.dev/errors/NG01203 -->
      <div
        contenteditable="true"
        [(ngModel)]="playlist.description"
        name="description"
      >
        Ala ma kota
      </div>
    </div>

    <div ngModelGroup="extra">
      <input type="hidden" name="tajne" ngModel>
    </div>

    <div class="flex justify-between">
      <button mat-flat-button color="warn" type="button" (click)="onCancel()">
        Cancel
      </button>
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>
